<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Gif Search Tagging Game</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <!-- Custom JS -->

    </head>
    <body>

        <div class="container container-fluid">
          <div class="site row-fluid">
              {% block content %}
              {% endblock content %}
          </div>
        </div> <!-- /container -->

    </body>
</html>
